section {
  background-color: beige;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 200px;
  grid-template-rows: 100px 50px 200px; */
  /* grid-template: 10% 50px 100px /100px 200px;*/
 /* grid-template: 100px 50px 100px /1fr 2fr 1fr;*/
 grid-template: repeat(2,100px)/ repeat(3,1fr) 50px;
  grid-auto-rows: 50px;
  gap: 10px;
}

div {
  background-color: lightseagreen;
  text-align: center;
}

div:first-child{
  grid-column: 1/5;
  grid-row: 1/3;
}

div:last-child{
  /*
  grid-column: 3/5;
  */
  grid-column: span 2;
  grid-row: span 2;
}

/*Intercambiar posiciones*/
div:nth-child(3){
  grid-column: 1/2;
  grid-row: 3/4;
}