.galeria-contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 20px;
	background-color: #f0f0f0;
}

.imagen-item{
	width: 220px;
	background-color: #fff;
	padding: 10px;
	margin: 10px;
	box-shadow: 0 20px 8px rgba(0, 0, 0, 0.8);
	text-align: center;
	
	height: auto;
}
