body {
  background-color: rgb(244, 255, 255);
  padding: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
}

h2 {
  color: rgb(0, 0, 93);
}

.titulo-principal {
  color: red;
}

.imagen-centrada {
  margin: auto;
  display: block;
  border-radius: 20px;
}
