* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

:root {
  --bg-color: #f7f7f7;
  --second-bg-color: #eaeaea;
  --text-color: #3f3844;
  --main-color: #ff5733;
  --other-color: #5d6c83;
}

html {
  font-size: 62.5%; /*1rem = 10px */
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--tex-color);
  font-size: 1.6rem;
  font-family: "AR One Sans", sans-serif;
}

section {
  max-height: 100v;
  padding: 10rem 10% 2rem;
}

.heading {
  font-size: 4.5rem;
  text-align: cener;
}

.heading-description {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  text-align: center;
}

span {
  color: var(--main-color);
}

/*
Header Section
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 10%;
  background-color: var(--bg-color);
  box-shadow: 0 1px 0.3rem var(--tex-color);
}

.logo {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--main-color);
  transition-duration: 0.5s;
}

.logo:hover {
  transform: scale(1.05);
}

.navbar {
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  color: var(--text-color);
  font-weight: 600;
  transition: 0.3s ease;
  border-bottom: 0.2rem solid transparent;
  text-transform: uppercase;
}

.navbar a:hover {
  border-bottom-color: var(--main-color);
  color: var(--main-color);
  transform: scale(1.05);
}

.navbar a.active {
}

/*
Home Section
*/

.home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/home-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.home-content {
  width: 60%;
  margin-left: 5rem;
  padding: 6rem 2rem;
  background-color: rgba(234, 234, 234, 0.911);
  border: 0.2rem solid var(--main-color);
  border-radius: 2rem;
}

.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-content p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/*
social media section
*/

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5.2rem;
  height: 5.2rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
}

.social-media a:hover {
  transform: scale(1.2) translateY(-1rem);
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 2.5rem var(--main-color);
}
